<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13740830873-oru27vhmol9h1erfm958n6rv4esv784k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13740830873-oru27vhmol9h1erfm958n6rv4esv784k</string>
	<key>API_KEY</key>
	<string>AIzaSyBmIGy0BltXh9tRP3ASPLdJxwEbDLDUDqA</string>
	<key>GCM_SENDER_ID</key>
	<string>13740830873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorBuhler.The-Real-Ish</string>
	<key>PROJECT_ID</key>
	<string>the-real-app-d06ee</string>
	<key>STORAGE_BUCKET</key>
	<string>the-real-app-d06ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13740830873:ios:301f9d63eae476cb8b0808</string>
</dict>
</plist>